
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<!DOCTYPE html>
<html>
<head>
    <title>CKEditor Test</title>
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
</head>
<body>
    <textarea id="editor"></textarea>
    <script>CKEDITOR.replace('editor');</script>
</body>
</html>


@*<!DOCTYPE html>
<html>
<head>
    <title>CKEditor Test</title>
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
</head>
<body>
    <h2>CKEditor Test Sayfası</h2>
    <form>
        <textarea id="editor"></textarea>
        <script>
            CKEDITOR.replace('editor');
        </script>
    </form>
</body>
</html>*@



